<nav>
  <ul class="menu">
    <li class="menu__item">
      <a class="link" target="_blank" href="http://shop.newhumble.com">store</a>
    </li>
    <li class="menu__item">
      <a class="link" target="_blank" href="https://humblehumblehumble.tumblr.com/">blog</a>
    </li>
    <li class="menu__item">
      <a class="link" href="{{ site.baseurl }}/video">video</a>
    </li>
    <li class="menu__item">
      <a class="link" href="{{ site.baseurl }}/friends">friends</a>
    </li>
    <li class="menu__item">
      <a class="link" href="{{ site.baseurl }}/info">info</a>
    </li>
  </ul>
</nav>
